header {
    background-color: #ffffff;
    padding: 22px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    border: 1px solid #cccccc;
    z-index: 10;
}
body {
    background-image: url('../images/hotel-wallpaper\ copy.png');
    background-color: gray;
}
#name {
    background-color: #4aaaa5;
    color: white;
    font-size: 32px;
    padding: 11px;
    position: fixed;
    top: 0;
    left: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navbar {
    float: right;
    margin-right: 20px;    
}
#navbar a {
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    color: #777777;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-right: 1px solid #cccccc;
    overflow: auto;
}
#navbar a:last-child {
    border: none;
}
#navbar a:hover {
    font-size: 20px;
    color: gray;
}
.container {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}
h2 {
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid #cccccc;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}
img {
    width: 100%;
    height: 300px;
    z-index: 0;
}

#image {
    width: 100%;
    height: auto;
}
h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 100px;
    padding: 15px 0px 15px 0px;
    text-align: center;
}
.col-sm {
    margin: auto;
}

.inputbox {
    width: 90%;
}
#inputbox1 {
     height: 200px;
     width: 90%;
}
#submit {
    padding: 5px 13px 5px 13px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
}
.footer {
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 22px 0 4px 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    font-size: smaller;
}

#imgCon {
    padding-bottom: 3%
}

@media screen and (max-width: 640px){
    #links{
        overflow: none;
        width: 100%;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #name {
        margin: none;
        padding: none;
        width: 100%;
        position: relative;
        text-align: center;
        left: 0;
    }
    header {
        padding: 0;
    }
    #navbar {
        float: none;
        width: 100%;
        margin: none;
        padding: none;
        text-align:center;
    }
    .container {
        margin-top: 150px;
    }
}


